<h1>Hello!</h1>

<h1>Welcome to PDX MTG NEXUS</h1>

<%= link_to 'Events', event_path %>

<h3><%= current_user.email if current_user %></h3>
<% if current_user %>
  <%= link_to 'sign out', destroy_user_session_path, method: :get %><br><br>
<% end %>

<%= link_to 'sign in', new_user_session_path if !current_user %><br><br>
<%= link_to 'sign up', new_user_registration_path if !current_user %>
